.outer-route-layout-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  height: 80%;
}
.route-layout-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2rem;
}

.nav-pill {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 1rem 0;
  border: 1px solid white;
  border-radius: 0.6rem;
  padding: 0.6rem;
}

.nav-pill:hover {
  cursor: pointer;
  color: #00A9FF;
  font-weight: bold;
  border: 1px solid black;
}
