.filter-container-layout {
  width: 24rem;
  margin: 1.5rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.filter-header {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
.fa-filter {
  color: #00A9FF;
  font-size: 1.2rem;
  cursor: pointer;
}

.filter-type {
  color: #00A9FF;
}
.filter-section-container {
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  right: 2%;
}
.filter-pill {
  margin: 0.2rem 0;
  padding: 0.2rem 0.2rem;
}
.filter-pill:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  color: #00A9FF;
}

.fa-arrow-trend-up,
.fa-caret-up,
.fa-caret-down {
  color: #00A9FF;
  margin-right: 0.2rem;
}

.bold-color {
  color: #00A9FF;
  font-weight: bold;
}
